body {
  background-color: #18122b;
  padding: 0 50px;
  font-family: "Questrial", sans-serif;
}

/* Nav Bare */
.navMenu {
  display: flex;
  flex-direction: row;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  margin: 0 20px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #7a68b6;
}

#main {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

header {
  height: 75px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  background: rgb(78, 32, 108);
  background: linear-gradient(
    90deg,
    rgba(78, 32, 108, 1) 0%,
    rgba(252, 69, 69, 1) 100%
  );
  margin-bottom: 100px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

header form {
  width: 100%;
  /* height: 100%; */
}

header .search {
  float: right;
  height: 30px;
  border-radius: 20px;
  background-color: white;
  outline: none;
  border: 2px solid white;
  padding: 0 10px;
}

.movie {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 50px 20px;
  padding: 20px;
  background: rgb(78, 32, 108);
  background: linear-gradient(
    90deg,
    rgba(78, 32, 108, 1) 0%,
    rgba(252, 69, 69, 1) 100%
  );
  border-radius: 20px;
  color: white;
  box-shadow: 0 0 25px black;
}

.movie h2 {
  font-size: 40px;
  margin: 0;
}

.movie p {
  font-size: 20px;
  line-height: 1.3;
}
.overview {
  color: #e4e4e4;
}

.movie img {
  height: 400px;
  margin-right: 30px;
  box-shadow: 0 0 20px black;
  border-radius: 10px;
}

.info {
  position: relative;
}

.puntuacion {
  width: fit-content;
  padding: 10px;
  border-radius: 50%;
  font-weight: bold;
  /* text-shadow: 0 0 10px black; */
  float: right;
}

.genero {
  font-weight: bold;
  font-style: uppercase;
}

.fecha {
  font-weight: bold;
}

/* search */
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  float: right;
}

.input-search {
  height: 20px;
  width: 55px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #18122b;
  padding-right: 40px;
  color: #fff;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.no-results {
  color: white;
}

/* Favorite */
.favorite {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  font-size: xx-large;
  cursor: pointer;
}
.favorite .fa-heart {
  color: rgba(0, 0, 0, 0.3);
}

.my-favorite .fa-heart {
  color: rgb(255, 80, 80);
}

.no-favorites {
  color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.no-favorites a {
  color: #e4e4e4;
  font-size: larger;
  display: block;
  margin-top: 10px;
}

/* Pagina de buscar */
#contenidorSug {
  display: flex;
  flex-direction: column;
}
#contenidorSug .list {
  display: block;
  color: #18122b;
  padding: 10px 10px;
  margin: 0;
  font-size: larger;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
}

#contenidorSug .list:hover {
  background-color: #df4f4f;
}

#contenidorSug .sug span {
  color: rgba(0, 0, 0, 0.5);
}

.buscar {
  background-color: #e4e4e4;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 25px;
}

.buscar input {
  width: 476px;
  background-color: #e4e4e483;
  border: none;
  font-family: "Questrial", sans-serif;
  font-size: 17px;
  padding: 0 10px;
  height: 40px;
  border-radius: 25px;
  transition: all 0.5s ease;
}

.buscar input:focus {
  outline: none;
  border: none;
  background-color: #e4e4e483;
}

.no-resultados {
  color: black;
}

/* Responsive */

@media only screen and (max-width: 750px) {
  .movie {
    flex-direction: column;
  }
  body {
    padding: 0;
  }
  .movie img {
    width: 100%;
    margin-right: 0;
    height: auto;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 550px) {
  header form {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%);
    width: fit-content;
  }
  .btn-search {
    color: #18122b;
  }
  .input-search {
    background-color: #e4e4e483;
    color: #e4e4e4;
  }
  .navMenu {
    margin-right: auto;
    margin-left: auto;
  }
  header {
    padding: 0;
  }

  .input-search::placeholder {
    color: #18122b;
  }
}
